* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(127, 244, 255);
}
video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/*  HEADER   */

.links {
    text-decoration: none;
    margin-right: 10px;
    padding-inline: 30px;
    border: 1px solid turquoise;
    border-radius: 10px;
    border-style: dashed;
    background-color: rgba(0, 0, 0, 0.53);
    
    
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    height: auto;
    border-bottom: 1px solid turquoise;
}

main {
    width: 100%;
    flex: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
}


.logo{
   filter: drop-shadow(3px 3px 0px color-mix(in srgb-linear, rgb(127, 244, 255) 55%, yellow 35%));
}


li {
    font-family: 'Handjet', cursive; 
    list-style: none;
}


.link__open-menu{
    display: none;
}

.link__open-menu img{
    filter: invert(100%);
}

.link__close-menu{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;
    background-color: #095169;
}


.link__close-menu .cruz{
    filter: invert(100%);
    width: 3em;
    position: fixed;
    top: 58px;
    right: 25px;
}


.link__close-menu ul li{
    padding: 20px;
}

#menu{
    display: none;
}

input:checked + .link__close-menu{
    display: block;
}



/* section*/

.link__me {
    display: flex;
}

.links__me {
    display: flex;
    list-style: none;
    justify-content: right;
}

section{
    height: 100%;
    flex-shrink: 0;
    scroll-snap-align: center;
    
}

.links:hover {
    border: 1px solid turquoise;
    border-radius: 10px;
    
}


form{
    border-radius: 10px;
    border-style: dashed;
    border-color: turquoise;
    background-color: rgba(0, 0, 0, 0.53);
    margin: 25px;
    
}


label{
    display: flex;
    flex-direction: column-reverse;
    padding: 15px 25px;
    color: #3d8680;
}


input{
    border-radius: 10px;
    border-style: dashed;
    border-color: turquoise;
    background-color: rgba(0, 0, 0, 0.53);
    margin-top: 5px;
}


textarea{
    border-radius: 10px;
    border-style: dashed;
    border-color: turquoise;
    background-color: rgba(0, 0, 0, 0.53);
    color: #3d8680;
    padding-inline: 10px;
    margin-top: 5px;
}


/* main */

.main__info {
    font-family: 'Tilt Prism', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}


.main__info--h1 {
    font-size: 5em;
    color: turquoise;
    display: flex;
    justify-content: center;
    text-align: center;
}


.main__info--h2{
    display: flex;
    justify-content: center;
    font-size: 45px;
   /*  font-size: xx-large; */
}


#about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.about-me__h3{
    animation-name: animation1;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    font-size: 64px;
    font-family: 'Tilt Prism', cursive;
}


#about-me p{
    text-align: center;
    width: 30em;

}


#contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


h1{
    animation-name: animation1;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes animation1{
    0%{color: turquoise;}
    25%{ color: #7dc5be;}
    50%{ color:#3d8680}
    75%{ color: #5da59e;}
    100%{ color: #7dc5be;}
}


main::-webkit-scrollbar{
    width:1.5em;
    background-color: transparent;
    border-radius: 10px;
    border-style: dashed;
 }
 
 main::-webkit-scrollbar-thumb{
   height: 5px;
   width: auto;
   background-color: #7dc5be5d;
   border-radius: 10px;
   border-style: dashed;
 }
 

#frontend{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    overflow: hidden;
    padding: 3em;
    grid-gap: 1em;
 }

 #frontend div{
    display: flex;
    justify-content: center;
    align-items: center;
 }

#frontend a{
    position: relative;
    transition: .25s;
    display: block;
}


/* footer */
.redes {
    display: flex;
    justify-content: center;
    border-top: 1px solid turquoise;
    padding: 1.5em;
}

.redes__ul {
    display: flex;
    justify-content: end;
    list-style: none;
}

.redes__ul li {

    margin-top: 10px;
    margin-right: 10px;
}




a:hover{
    transform: scale(1.2);
    z-index: 1;
}

#frontend img{
    width: 16em;
    border-radius: 2em;
}


/*  @Media    */
@media screen and (min-width:2000px) {
    header img{
        height: 20vh;
    }

    .link__me a{
        font-size: 50px;
        margin-right: 39px;
    }

    main{
        font-size: 2em;
    }

    main h2{
        font-size: 3em;
    }

    .about-me__h3{
        font-size: 5em;
    }

    #about-me p{
        font-size: 64px;
    }

    label{
        font-size: 50px;
    }
   input{
    font-size: 30px;
   }

   footer a{
    font-size: 3em;
   }
}

@media screen and (max-width:1024px) {
    #frontend{
        grid-template-columns: 1fr 1fr 1fr;
        height: auto;
        scroll-snap-align: start;
    }
   
}

@media screen and (max-width:800px) {
    #frontend{
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }

   .main{
    scroll-snap-type: none;
   }

   .main__info{
    
    text-align: center;
   }

   .links__me li {
    margin: 0px;
}

.links{
    padding-inline: 10px;

}

}



@media screen and (max-width:425px) {

    
    .main__info--h1{
        text-align: center;
    }

    .redes__ul li{
        margin: 0;
    }

    .link__open-menu{
        display: flex;
    }

    .link__me{
        display: none;
    }
}


@media screen and (max-width:505px){
     
   
    main{
        overflow-x: hidden;
        overflow-y: auto;
    }


    #about-me p{
        padding: 0 6em;
    }
    
    #frontend{
        grid-template-columns: 1fr;
        
    }

    
    main::-webkit-scrollbar{
        width:.5em;
        background-color: transparent;
        border-radius: 10px;
        border-style: dashed;
     }
     
     main::-webkit-scrollbar-thumb{
       height: 5px;
       width: auto;
       background-color: #7dc5be5d;
       border-radius: 10px;
       border-style: dashed;
     }

}

@media screen and (max-width:320px){
    body{
        font-size: 11px;
    }

    form label{
        margin-inline: -10px;
    }
}